@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap");

@background: #f6f6f6;

@gray: #515151;
@skyblue: #35d8f2;
@red: #ff3b65;
@yellow: #ffd31b;

.red {
  color: @red;
}

.yellow {
  color: @yellow;
}

.blue {
  color: @skyblue;
}

a {
  text-decoration: none;
  color: #04bfe0;
  font-weight: bold;
  letter-spacing: -1px;

  &:hover {
    text-decoration: underline;
    color: #019db9;
  }
}

body {
  background-color: @background;
  margin: 0;
  font-family: "Cantarell", sans-serif;
  color: @gray;

  * {
    transition: all ease-in-out 50ms;
  }
}

.fixed-width {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.white-wrapper {
  background-color: white;
  padding-bottom: 60px;
  z-index: 5;
  position: relative;
}

#title-logo {
  display: none;
}

#top-panel {
  text-align: center;

  .clickable-icon {
    display: inline-block;
    margin: 35px 8px 0;

    img {
      height: 40px;
      opacity: 0.7;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.image-container {
  background-image: url("../images/pattern.jpg");
  height: 200px;
  background-position: 381px 20%;
  opacity: 0.8;
  width: 830px;
  margin: auto;
  background-size: 240%;
  transition: all ease-in-out 2s;
  transform: scale(0.8);
}

.text {
  background-color: white;
  color: black;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  mix-blend-mode: screen;
  width: 100%;
  height: 100%;
  padding: 0;
  text-transform: uppercase;
  font-family: "Montserrat Subrayada", sans-serif;
  margin-top: 40px;
}

h2 {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
  font-size: 24px;
}

nav {
  position: sticky;
  top: 0;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  border-top: solid 1px #ececec;
  border-bottom: solid 1px white;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  z-index: 4;
  height: 23px;
  overflow: hidden;

  #navbar-buttons {
    transition: top ease-in-out 200ms;
    position: relative;
    z-index: 1;
    top: 0;
  }

  #navbar-logo {
    height: 40px;
    position: relative;
    bottom: -30px;
    transition: all ease-in-out 200ms;
    cursor: pointer;
  }

  a {
    outline: none;
    text-decoration: none;
    color: @gray;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 7px 30px;
    border-radius: 20px;
    margin: 0 15px;
    box-shadow: inset 0 0 0 1px #ececec;

    &:hover {
      background-color: #ffe576;
      text-decoration: none;
      box-shadow: none;
      color: @gray;
    }
  }

  .active {
    background-color: @red !important;
    color: white !important;
    box-shadow: none;
  }
}

article {
  position: relative;
}

.site-mark {
  position: absolute;
  top: -70px;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;

  h3 {
    margin: 0;
    font-size: 22px;
    letter-spacing: -1px;
  }

  p {
    font-size: 19px;
    text-align: justify;
    margin-bottom: 0;
  }
}

.profile {
  width: 205px;
  border-radius: 100%;
  float: left;
  margin-right: 40px;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: -1px;
}

.bold {
  font-weight: bold;
}

.title {
  text-align: center;

  span {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 7px 30px;
    border-radius: 20px;
    margin: 0 15px 40px;
    background-color: @red !important;
    color: white !important;
  }

  span {
    position: relative;
  }
}

article {
  padding-top: 30px;
}

.my-designs {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding-bottom: 1px;

  a {
    letter-spacing: 0;
  }

  .item {
    margin-bottom: 100px;
  }

  .image-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 40px;

    .preview {
      max-width: 390px;
      width: 100%;
      border-radius: 10px;
      display: block;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  .strip {
      content: "";
      width: 90px;
      height: 15px;
      position: absolute;
      border-radius: 5px;
    }

  .strips-1 {
    &::before {
      .strip();
      background: #ff5265;
      transform: rotate(-45deg);
      left: -26px;
      top: 13px;
    }

    &::after {
      .strip();
      background: #20b4d0;
      transform: rotate(-45deg);
      right: -26px;
      bottom: 13px;
    }
  }

  .strips-2 {
    .strips-1();

    &::before {
      .strip();
      transform: rotate(45deg);
      left: unset;
      right: -26px;
    }

    &::after {
      .strip();
      background: #20b4d0;
      transform: rotate(45deg);
      left: -26px;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -1px;
    margin-bottom: 5px;
  }

  h5 {
    font-weight: normal;
    font-size: 17px;
    color: grey;
    margin-top: 0;
    margin-bottom: 5px;
  }

  p {
    color: grey;
  }

  .tags {
    a {
      background: @gray;
      border-radius: 20px;
      padding: 3px 12px;
      color: white;
      font-size: 12px;
      text-decoration: none;
      margin-right: 5px;
      opacity: 0.8;
      display: inline-block;
      margin-top: 7px;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.additions {
  text-align: center;
  font-size: 19px;
  margin: 0 auto auto;
  max-width: 590px;
}

@media (max-width: 920px) {
  .my-designs {
    .item {
      margin-bottom: 40px;
    }

    .image-wrapper {
      float: unset;
      margin-right: 0;
    }
  }
}

@media (max-width: 830px) {
  .white-wrapper {
    padding-bottom: 40px;

    #title-background {
      display: none;
    }

    #title-logo {
      width: 80%;
      display: block;
      margin: 40px auto;
    }
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: calc(100vw / 25);
  }

  .about {
    padding-top: 30px;
    padding-bottom: 30px;

    .profile {
      width: 80px;
      margin-right: 20px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 25px;
    }

    p {
      font-size: 15px;
    }
  }
}
